#image {
    position: center;
    width: 500px;
}

body {
    text-align: center;
    font-family: serif;
    background-color: rgb(255, 255, 255);
}

.highlight {
    background-color: floralwhite;
    color: black;
}
