#image {
    position: center;
    width: 500px;
}

body {
    text-align: center;
    font-family: serif;
}

.highlight {
    background-color: floralwhite;
    color: black;
}


#Navbar {
    font-family:  "Stencil", "Impact", "Arial Black", sans-serif;
}

a:link {
    color: darkolivegreen;
}

a:visited {
    color: darkolivegreen;
}

a:hover {
    color: olive;
}

a:active {
    color: brown;
}

#paragraph {
    max-width: 1000px;
    margin:0 auto;
}