body {
    text-align: center;
}

.highlight {
    background-color: floralwhite;
    color: black;
}

#Navbar {
    font-family:  "Stencil", "Impact", "Arial Black", sans-serif;
}

a:link {
    color: darkolivegreen;
}

a:visited {
    color: darkolivegreen;
}

a:hover {
    color: olive;
}

a:active {
    color: brown;
}
