#Navbar{
    text-align: center;
    background-color: rgb(255, 255, 255);
    font: 20px;
}
#references{
     text-align: center;
    background-color: rgb(255, 255, 255);
    font: 12px;
    font-family: 'Times New Roman', Times, serif;
}